<div>
	<a class="btn btn-primary" role="button" href="/create">New Post</a>

	{{#if status}}
		<div class="alert alert-danger" role="alert">Failed!</div>
	{{else}}
		<div></div>
	{{/if}}
	<div class="container">
		<h1>Posts</h1>
		<div class="row">
			{{#each posts}}

			<div class="card col-sm-3">

			<!--Card image-->
	    	<img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">

	    	<!--Card content-->
	    	<div class="card-body">
	        	<!--Title-->
	        	<h4 class="card-title"><strong>{{this.title}}</strong></h4>
	        	<!--Text-->
	        	<p class="card-text">By: {{this.user}}<br>
				Date: {{this.date.month}} / {{this.date.day}} / {{this.date.year}}</p>
	        	<a href="/post?p={{this._id}}" class="btn btn-primary">View Post</a>
	    	</div>
			</div>
		
		
		{{/each}}
		</div>
		</div>
	</div>
</div> 